.set-infos {
  width: 90%;
  display: flex;
  flex-direction: row;
}
.borda-info, .radio-info{
  display: flex;
  flex-direction: column;
  width: 40%;
} .add_pizza{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e49738;
  border-bottom: 1px solid #e49738;
  color: #513717;
  height: 30%;
  width: 40%;
  box-shadow:  3px 3px 10px #8b451364;
}