@media only screen and (min-width: 100px) {
    #logo-container h1 {
        font-size: 3.5rem;
    
    } .tradicionais-catalago {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
} @media only screen and (min-width: 100px) {
    .tradicionais-catalago {
        width: 100%;
    }
}


:root {
    background-color: #ffffff00;
    --bege-claro: #f3e1ca;
    --marrom-escuro: #4d311f;
    --terracota: #c74f1c;
    --verde-oliva: #6B8E23;
    --fundo-bege: #dad2c8;
    --marrom: #5A3E2B;
}
body {
    background-color: var(--fundo-bege);
    margin: 0;
    padding: 0;
}



header {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 190px;
    background-color: var(--marrom-escuro);
    
} #logo-container {
    color: var(--bege-claro);
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
} .menu-catalago {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    color: var(--bege-claro);
    font-weight: bold;
    font-size: 0.8rem;
} .menu-catalago > div  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.4s;
}


/* Estilos dos Cards */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    padding: 20px;
}

.card {
    user-select: none;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 4px;
    width: 360px;
    height: 85px;
    padding: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Círculo colorido na esquerda */
.card-circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(217, 121, 80, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.card:hover .card-circle {
    background: rgba(217, 121, 80, 1);
}

/* Informações da pizza */
.card-info {
    flex: 1;
    padding-left: 15px;
    text-align: left;
}

.card h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #5A3E2B;
}

.card p {
    margin: 3px 0 0;
    font-size: 0.8rem;
    color: #8B5A2B;
}


.tradicionais-catalago, .especiais-catalago{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 
